.container {
  font-family: monospace;
  background-color: lightcyan;
  border-radius: 20px;
}

#weather-numbers {
  border-radius: 20px;
  background-color: lightgreen;
}

#weather-details {
  font-family: monospace;
  border-radius: 20px;
  background-color: orchid;
  text-align: right;
}

#sun-details {
  font-family: monospace;
  border-radius: 20px;
  background-color: greenyellow;
  text-align: right;

}

.card {
  display: inline;
}

.weather-main-icon {
  text-align: center;
  font-size: 60px;
}

.col-sm-2 {
  border-right: 2px solid grey;
  text-align: center;
  font-size: 20px;
}

.weather-desc {
  font-size: 15px;
  text-align: center;
}
.url {
  display: block;
  margin: auto;
  text-align: center;
}
