.container {
  font-family: monospace;
  background-color: lightcyan;
  border-radius: 20px;
}

.card {
  display: inline;
}

.weather-main-icon {
  text-align: center;
  font-size: 60px;
}

.col-sm-2 {
  display: block;
  margin: auto;
  padding: 0;
  text-align: center;
  font-size: 20px;
}

.weather-desc {
  font-size: 15px;
  text-align: center;
  word-wrap: normal;
}
.url {
  display: block;
  margin: auto;
  text-align: center;
}

.description {
  font-weight: bold;
}

.forecast-temperature-min {
  color: orangered;
}

#city-name::first-letter {
  text-transform: capitalize;
}

#weather-numbers {
  border-radius: 20px;
  background-color: lightgreen;
}

#looking-outside {
  border-radius: 20px;
  background-color: aqua;
  text-align: center;
}

#weather-details {
  border-radius: 20px;
  background-color: orchid;
  text-align: right;
}

#sun-details {
  border-radius: 20px;
  background-color: greenyellow;
  text-align: right;
}

#weather-main-icon {
  width: 100%;
  image-rendering: auto smooth;
}

#forecast-panel {
  margin: auto;
}
